

.images{
    position: relative;
    
    max-width:50%;


}
.swiper {
    
  max-width:700px;
   
    height: 100%;
  }
  
  .swiper-slide {

    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiperSlider img {
    display: block;
    
    width: 100%;
    max-width:700px;
    height: 30rem;
    object-fit: cover;
    border-radius:8px;
  }
  
  
  
  .swiper {
    
    width: 40%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    
    width: 90%;
  }
  
  .mySwiper{
    
    width: 92%;
   
  }
  .mySwiper .swiper-slide {
    
    opacity: 0.4;
  }
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  .swiperBack {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    width: 30%;
    
    img{  
        
        width: 90%;
        height: 6rem;
        object-fit: cover;
        border-radius: 8px;
        
    }
}



  @media (max-width: 768px){

    .images{
      position: relative;
      
      max-width:100%;
  
  
  }
  .descriptions{



  }
    

  }